@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #050505;
  background-image:
    radial-gradient(circle at 60% -20%, #151515 0%, transparent 60%),
    radial-gradient(#1a1a1a 1px, transparent 1px);
  background-size: 100% 100%, 32px 32px;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}