@import "tailwindcss";

:root {
  font-family: 'Outfit', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e4e4e7;
  /* zinc-200 */
  background-color: #030303;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  /* Premium dark gradient */
  background:
    radial-gradient(circle at 50% 0%, #18181b 0%, transparent 70%),
    linear-gradient(to bottom, #09090b, #000000);
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;

}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}